:root {
  /* **Colors** */
  --body-background-color: #146188;
  --body-color: bisque;
  --body-border-color: lime;
  --nav-link-color: beige;
  --nav-link-background-color-one: #325583;
  --nav-link-background-color-two: #ffffff;
  --nav-link-background-color-hover: #146188;
  --nav-link-background-color-active: #157a94;
  /* **Sizes** */
  --body-font-size: 18px;
  --field-padding: 10px;
  --field-margin: 10px;

  --all-borders: 1px solid var(--body-border-color);
  /* **Positioning Center** */
  --center-top: calc(
    (2 * var(--field-padding)) + (4 * var(--all-borders)) +
      var(--body-font-size)
  );
  --center-bottom: calc(
    (2 * var(--field-padding)) + (4 * var(--all-borders)) +
      var(--body-font-size)
  );

  /**/
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--body-background-color);
  color: var(--body-color);
  font-size: var(--body-font-size);
}

header {
  border: var(--all-borders);
  padding: var(--field-padding);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.center {
  border: var(--all-borders);
  position: absolute;
  top: var(--center-top);
  right: 0;
  bottom: var(--center-bottom);
  left: 0;
  display: flex;
}
.noburger {
  display: none;
}
.noburger-layer {
  position: absolute;
  padding: 10px;
  z-index: 0;
}
@media (min-width: 640px) {
  :root {
    --body-font-size: 20px;
  }
  .burger {
    display: none;
  }
  .noburger {
    display: block;
  }
}

nav {
  border: var(--all-borders);
  padding: var(--field-padding);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a.nav-button {
  border: var(--all-borders);
  border-radius: 10px;
  padding: 3px 10px 3px 10px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  white-space: nowrap;
  color: var(--nav-link-color);
  box-shadow: -5px -5px 5px black;
  background-image: linear-gradient(
    320deg,
    var(--nav-link-background-color-two) 0%,
    var(--nav-link-background-color-one) 50%
  );
}

a.nav-button:hover {
  background-image: linear-gradient(
    320deg,
    var(--nav-link-background-color-two) 0%,
    var(--nav-link-background-color-hover) 50%
  );
}

a.nav-button:active {
  box-shadow: -2px -2px 5px black;
  background-image: linear-gradient(
    320deg,
    var(--nav-link-background-color-two) 0%,
    var(--nav-link-background-color-active) 50%
  );
}

main {
  border: var(--all-borders);
  padding: var(--field-padding);
  margin-left: 10px;
  width: 100%;
}

footer {
  border: var(--all-borders);
  padding: var(--field-padding);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

/**/
label.hamburg {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

input#hamburg {
  display: none;
}

.line {
  position: absolute;
  left: 5px;
  height: 2px;
  width: 20px;
  background: var(--body-color);
  border-radius: 2px;
  display: block;
  transition: 0.5s;
  transform-origin: center;
}

.line:nth-child(1) {
  top: 8px;
}
.line:nth-child(2) {
  top: 15px;
}
.line:nth-child(3) {
  top: 22px;
}

#hamburg:checked + .hamburg .line:nth-child(1) {
  transform: translateY(7px) rotate(-45deg);
}

#hamburg:checked + .hamburg .line:nth-child(2) {
  opacity: 0;
}

#hamburg:checked + .hamburg .line:nth-child(3) {
  transform: translateY(-7px) rotate(45deg);
}
